<div class="form-container">
  <form class="example-form">
    <h3 class="text-center">S'inscrire</h3>

    <mat-error class="error-message text-center" *ngIf="erroField">
      {{ message }}
    </mat-error>

    <!-- Champs du formulaire -->
    <mat-form-field class="example-full-width">
      <mat-label>Nom & Prénom</mat-label>
      <textarea matInput placeholder="Nom & Prénom" [(ngModel)]="this.user.fullName" name="fullName"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [(ngModel)]="this.user.email" name="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Adresse</mat-label>
      <input matInput placeholder="Adresse" [(ngModel)]="this.user.adresse" name="adresse">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Téléphone</mat-label>
      <input matInput placeholder="Téléphone" [(ngModel)]="this.user.telephone" name="telephone">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput  type="password" placeholder="password" [(ngModel)]="this.user.password" name="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>username</mat-label>
      <input matInput   placeholder="username" [(ngModel)]="this.user.username" name="username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Choisir le Rôle</mat-label>
      <mat-select placeholder="Nom Rôle" [(ngModel)]="selectedRole" name="profile">
        <mat-option [value]="'ADMIN'">Administrateur</mat-option>
        <mat-option [value]="'User'">Utilisateurs</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Bouton centré -->
    <div class="button-center">
      <button mat-raised-button color="primary" (click)="saveUser()">S'inscrire</button>
    </div>

    <!-- Lien centré -->
    <div class="login-redirect">
      Déjà un compte ? <a routerLink="/login">Se connecter</a>
    </div>
  </form>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
