<div class="form-v7-content">
  <div class="form-left">
    <img src="assets/edacy.jpg" alt="form">
    <p class="text-1">S'inscrire</p>
    <p class="text-2">Privaci policy & Term of service</p>
  </div>
  <form class="form-detail" action="#" method="post" id="myform">
    <div class="form-row">
      <label for="username">USERNAME</label>
      <input type="text" name="username" id="username" class="input-text">
    </div>
    <div class="form-row">
      <label for="your_email">E-MAIL</label>
      <input type="text" name="your_email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
    </div>
    <div class="form-row">
      <label for="password">PASSWORD</label>
      <input type="password" name="password" id="password" class="input-text" required>
    </div>
    <div class="form-row">
      <label for="comfirm_password">CONFIRM PASSWORD</label>
      <input type="password" name="comfirm_password" id="comfirm_password" class="input-text" required>
    </div>
    <div class="form-row-last">
      <input type="submit" name="register" class="register" value="Register">
      <p>Or<a href="#">Se Connecter</a></p>
    </div>
  </form>
</div>
